$contact-bg-color: hsl(164, 41%, 50%);

h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque";
}

html {
  font-size: 14px;
  height: 100%;
}

body, p, a, html {
  font-family: "minion-pro";
}

body {
  height: 100%;
}

a {
  color: inherit;
}

.init-hidden {
  opacity: 0;
}

.heading-divider {
  border-top-width: 3px;
  margin: 1.5rem 0;
}

.social-links {
  text-align: center;
}

.section-flare {
  $height: 100px;
  display: block;
  height: $height;
  width: 100%;

  path {
    fill: $contact-bg-color;
  }

  &.flare-top {
    margin-top: -$height;
  }

  &.flare-bottom {
  }
}

.section-heading {
  text-align: center;
}

.intro {
  $top-grad: transparent;
  $mid-grad: hsla(0, 0, 0%, 0.6);
  $bot-grad: hsla(0, 0, 0%, 0.3);

  color: white;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include background-image(linear-gradient($top-grad, $mid-grad, $bot-grad), image-url("banner2.jpg"));

  .container {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.section {
  min-height: 100%;
}

.btn-scroll-down {
  cursor: pointer;
  position: relative;
  bottom: 70px;
}

.contact {
  padding-bottom: golden-ratio(8rem, 0);
  background-color: $contact-bg-color;
  color: tint($contact-bg-color, 90%);

  .btn-fancy {
    display: inline-block;
    position: relative;
    margin: 0 1rem;

    .spinning-hover {
      position: absolute;
      top: 50%;
      left: 0;
      overflow:visible !important;
      @include transform(translate(0, -50%));
      path {
        fill: none;
        stroke-width: 30px;
        stroke: $contact-bg-color;
      }
    }

    .fa {
      height: 6rem;
      line-height: 5.5rem;
      vertical-align: middle;
    }

    a {
      font-size: 4rem;
      width: 6rem;
      display:inline-block;
      color: shade($contact-bg-color, 40%);

      &:hover {
        @include transition(color, 0.3s ease-in-out);

        color: tint($contact-bg-color, 50%);
        path {
          @include transition(stroke, .3s linear);
          stroke: tint($contact-bg-color, 40%);
        }
      }
    }
  }
}

.footer-body {
  font-size: 1rem;
}
