$contact-bg-color: hsl(164, 41%, 50%);

h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque";
}

html {
  font-size: 14px;
  height: 100%;
}

body, p, a, html {
  font-family: "minion-pro";
}

body {
  height: 100%;
}

a {
  color: inherit;
}

.heading-divider {
  border-top-width: 3px;
  margin: 1.5rem 0;
}

.social-links {
  text-align: center;
}

.intro-first-line {
  margin-top: calc(50% - 1em);
}

.intro-second-line {
}

.section-heading {
  text-align: center;
}

.intro {
  $top-grad: transparent;
  $mid-grad: hsla(0, 0, 0%, 0.6);
  $bot-grad: hsla(0, 0, 0%, 0.3);

  color: white;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  @include background-image(linear-gradient($top-grad, $mid-grad, $bot-grad), image-url("banner2.jpg"));
}

.frontend {
}

.section {
  min-height: 100%;
}

.backend {
}

.projects {
}

.corner {
  $height: 8rem;
  height: $height;
  margin-top: -$height;
  fill: $contact-bg-color;
  background-color: transparent;
}

.dropped.corner {
  margin-top: 0;
  transform: rotate(180deg);
}

.contact {
  padding-bottom: golden-ratio(8rem, 0);
  background-color: $contact-bg-color;
  color: tint($contact-bg-color, 90%);

  .btn-fancy {
    display: inline-block;
    font-size: 3rem;
    margin-right: 1em;
    margin-left: 1em;

    a {
      color: shade($contact-bg-color, 40%);

      &:hover {
        color: tint($contact-bg-color, 50%);
      }
    }
  }
}

.footer-body {
  font-size: 1rem;
}
